# Ensure the IDE is not pushed
.idea
.github

# Target specific directories
config/Arduino*
config/BraveSoftware
config/Code - OSS/
config/Cuperino
config/Electron
config/GIMP
config/JetBrains
config/Microsoft*
config/Microsoft/
config/Slack
config/VSCodium
config/arduino*
config/autostart/teams.desktop
config/balena-etcher
config/bashtop/error.log
config/cef_user_data/**
config/coc/extensions/**
config/configstore/*.json
config/dconf
config/discord
config/go/**
config/godot
config/google-chrome
config/grammarly-languageserver/**
config/lazygit
config/lutris/
config/microsoft*
config/miopen
config/nitrogen
config/nvim/lua/user
config/obs-studio
config/obsidian
config/pavucontrol.ini
config/pipewire
config/pulse
config/retroarch
config/rncbc.org
config/solaar
config/teams
config/wireplumber

# Target specific files
**/*.pyc
config/OpenRGB/logs/**
config/QtProject.conf
config/Synergy/Synergy.conf
config/hypr/*.conf
config/hypr/*.sh
config/zoomus.conf

# Ensure we add back some files which our rules above are overly aggressive
!config/VSCodium/User/keybindings.json
!config/VSCodium/User/settings.json

local/share/rofi/rofi_calc_history
