[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot


[submodule "config/polybar-scripts"]
	path = config/polybar-scripts
	url = git@github.com:polybar/polybar-scripts.git
