config/autostart/teams.desktop
config/bashtop/error.log
config/dconf
config/discord
config/Electron
config/Slack
config/Microsoft/
config/Microsoft*
config/pulse
config/teams
config/VSCodium
!config/VSCodium/User/keybindings.json
!config/VSCodium/User/settings.json