[Unit]
Description=Noisetorch Noise Cancelling
Requires=pipewire-media-session.service
After=pipewire-media-session.service

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/bin/noisetorch -i alsa_input.usb-Sonix_Technology_Co.__Ltd._Webcam_1080P_HDR_SN0001-03.analog-stereo -o alsa_output.pci-0000_0a_00.1.hdmi-stereo-extra3 -t 95
ExecStop=/usr/bin/noisetorch -u

[Install]
WantedBy=default.target
