[Unit]
Description=Noisetorch Noise Cancelling
Requires=pipewire-media-session.service
After=pipewire-media-session.service

[Service]
Type=simple
RemainAfterExit=yes
ExecStartPre=/bin/sleep 30
ExecStart=/usr/bin/noisetorch -i alsa_input.usb-Razer_Inc_Razer_Kiyo_Pro-02.analog-stereo -o alsa_output.pci-0000_05_00.1.hdmi-stereo-extra -t 95
ExecStop=/usr/bin/noisetorch -u
ExecReload=/usr/bin/noisetorch -u

[Install]
WantedBy=graphical.target
