[Unit]
Description=Scream audio server
Requires=pipewire-media-session.service
After=pipewire-media-session.service

[Service]
Type=simple
ExecStartPre=/bin/sleep 30
ExecStart=/bin/scream -m /dev/shm/scream-ivshmem
Restart=always
RestartSec=30

[Install]
WantedBy=graphical.target