* {
	font-size: 12px;
	font-family: monospace;
	font-weight: bold;
}

window#waybar {
	background: #3b4252;
	color: #fdf6e3;
  border-radius: 10px;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #4c566a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #3b4252;
	background: #4c566a;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#battery,
#memory,
#cpu,
#battery,
#disk,
#network,
#network.disabled,
#network.disconnected,
#network.linked,
#network.ethernet,
#network.wifi,
#window,
#tray {
	background: #4c566a;
	font-size: 12px;
	font-family: monospace;
	font-weight: bold;
}

#workspaces * {
  min-height: 0;
  min-width: 0;
}

#workspaces button {
	color: #fdf6e3;
  margin-bottom: 3px;
  padding-top: 4px;
  padding-bottom: 3px;
}
#workspaces button.active {
  background: #3b4252;
  box-shadow: inherit;
  text-shadow: inherit;
}
#workspaces button.focused {
	color: #3b4252;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	background: #3b4252;
	border: #4c566a;
  padding: inherit;
/*	padding: 3px 10px 0px 10px; */
}

#pulseaudio {
	color: #268bd2;
}
#memory {
	color: #2aa198;
}
#cpu {
	color: #8f94db;
}
#battery {
	color: #859900;
}
#disk {
	color: #b58900;
}

#workspaces,
#pulseaudio,
#memory,
#cpu,
#battery,
#window,
#tray,
#disk {
	padding: 3px 10px 0px 10px;
}

#clock.1 {
	padding: 3px 0px 0px 10px;
}


#clock.2 {
	padding: 3px 10px 0px 10px;
}

#clock.3 {
	padding: 3px 10px 0px 0px;
}


#network{
	padding: 0 10px;
}


